body {
  background-color: #292f3f;
}

.App {
  display: flex;
  overflow: hidden;
}

.app__loading {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 34px;
}
